# ==========================================================
# Videos
# ==========================================================

input/*
!input/.gitkeep

processing/*
!processing/.gitkeep

temp/*
!temp/.gitkeep

output/*
!output/.gitkeep

input_archive/*
!input_archive/.gitkeep

input_error/*
!input_error/.gitkeep

# ==========================================================
# Logs
# ==========================================================

logs/*
!logs/.gitkeep
!logs/benchmarks.jsonl
!logs/errors.log

# ==========================================================
# Training
# ==========================================================

datasets/
runs/
weights/
experiments/

# ==========================================================
# Python
# ==========================================================

.venv/
__pycache__/
*.pyc

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# Legacy
# ==========================================================

old/

# ==========================================================
# Windows
# ==========================================================

Thumbs.db
Desktop.ini
