# ==========================================================
# Videos
# ==========================================================

input/
processing/
temp/
output/
input_archive/
input_error/

# ==========================================================
# Logs
# ==========================================================

logs/

# ==========================================================
# Training
# ==========================================================

datasets/
runs/
weights/

# ==========================================================
# Python
# ==========================================================

.venv/
__pycache__/
*.pyc

# ==========================================================
# VS Code
# ==========================================================

.vscode/

# ==========================================================
# Legacy
# ==========================================================

old/

# ==========================================================
# Windows
# ==========================================================

Thumbs.db
Desktop.ini